@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 950px !important;
}

.prod-page {
  padding: 30px 0px;
}

.prod-img {
  width: 100%;
  max-height: 100%;
}

.dim-cont {
  text-align: center;
}

.main-head {
  color: #333e48;
  font-family: "Inter";
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bolder;
}

.sub-head {
  font-size: 20px !important;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #333e48;
  font-weight: bolder;
  font-family: "Inter";
}

.labels {
  line-height: 20px;
  margin-bottom: 30px;
  margin-top: 25px;
  font-size: 12px;
}

.sel-inp p {
  margin-top: 15px;
  line-height: 18px;
  font-size: 10px;
  color: #333e48;
  font-weight: 400;
  font-family: "Inter";
}

hr.custom {
  height: 3px;
  background-color: black;
  margin: 20px 0px;
}

.labels-head {
  color: #333e48;
  font-weight: bolder;
  font-family: "Inter";
  font-size: 18px !important;
}

.field__input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 50px;
  border: 4px solid #fed702;
  outline: none;
  padding: 6px 10px;
  font-size: 15px;
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
}

.radio_opt {
  width: 90px;
  height: 90px;
  position: relative;
  cursor: pointer;
  display: none; /* Hide the actual radio button */
}

.color-wrapper {
  flex: 0 0 20%; /* 100% divided by 5 items per row */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #5b5555;
  border: 6px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the circle */
  cursor: pointer;
  transition: height 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.color-label {
  margin-top: 10px;
  color: #333e48;
  font-weight: 900;
  font-family: "Inter";
  font-size: 9px;
}

/* When the radio button is checked, increase the height of the circle */
.radio_opt:checked + .color {
  border-color: #fed702; /* Optional: Change border color for better visibility */
}

.radio-img-label {
  display: block;
  margin-bottom: 10px;
}

.motor-container,
.interrupteur-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.radio-img-option {
  display: inline-block; /* Change to inline-block */
  margin-right: 20px;
}

.radio-img-radio {
  display: none; /* Hide the actual radio button */
}

.radio-img-square {
  display: inline-flex; /* Change to inline-flex */
  align-items: center;
  justify-content: center; /* Center items horizontally */
  cursor: pointer;
  border: 3px solid #ccc; /* Add border to create a square */
  border-radius: 12px; /* Add border radius to round corners */
  padding: 10px 5px; /* Add padding for spacing */
  max-width: 200px;
}

.radio-img-image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 10px; /* Add margin right */
}

.radio-img-text {
  font-size: 10px;
  color: #333e48;
  font-weight: bolder;
  text-align: center;
}

/* Add a class to style the highlighted motor square */
.motor-selected {
  border-color: #fed702; /* Change the border color when selected */
}
.interrupteur-selected {
  border-color: #fed702; /* Change the border color when selected */
}

/* Style the radio button when checked */
.radio-img-radio:checked + .radio-img-square {
  border-color: #fed702; /* Change the border color when checked */
}

.cables {
  margin-top: 20px;
}

.sub-head {
  font-size: 24px;
  margin-bottom: 10px;
}

.cables-container {
  display: flex;
  flex-wrap: wrap;
}

.cable-wrapper {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Ensure only three cable options per row */
.cable-wrapper:nth-child(3n) {
  margin-right: 0;
  text-align: center;
}

.radio_opt {
  display: none; /* Hide the actual radio button */
}

.cable {
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
  cursor: pointer;
}

.cable img {
  max-width: 100%; /* Ensure the image does not exceed its container */
  max-height: 100%; /* Ensure the image does not exceed its container */
  border: 3px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

.cable-label {
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}

/* Style the cable image when checked */
.radio_opt:checked + .cable img {
  border-color: #fed702; /* Change border color when selected */
}

/* Style the cable wrapper when checked */
.radio_opt:checked + .cable-wrapper {
  background-color: #f8f9fa; /* Change background color when selected */
}

.total {
  width: 100%;
  background-color: #e6e6e6;
  padding: 30px 0px;

  .tot-text {
    color: #333e48;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
  }
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.cart-btn {
  font-size: 22px;
  color: #333e48;
  font-weight: bolder;
  font-family: "Inter";
  padding: 0px 20px;
  border-radius: 20px;
  background-color: #fed702;
  border: 1px solid#fed702;

  &:hover {
    border: 2px solid#000000;
  }
}

.header-main {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1); /* Add shadow effect with larger blur radius and reduced opacity */
}

.logo img {
  width: 100px;
  height: auto;
}

.search-bar input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.cart-icon img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.cart-icon span {
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
}

.logo-text {
  font-size: 30px;
  color: #323f48;
  font-weight: 700;
}

.logo-text span {
  color: #fed702;
  font-weight: 300;
}

.cart-icon {
  position: relative;
}

.cart-icon span {
  position: absolute;
  bottom: -8px; /* Adjust vertical position */
  right: -8px; /* Adjust horizontal position */
  background-color: #fed702; /* Background color for the count */
  color: #000000; /* Text color for the count */
  border-radius: 50%; /* Make it circular */
  padding: 4px 8px; /* Add some padding */
  font-size: 12px; /* Adjust font size */
}

.search-bar {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
  border: 1px solid #fed702;
  margin: 0px 10px;
}

.search-bar input[type="text"] {
  outline: none;
  width: 600px; /* Set a fixed width */
  /* padding: 10px; */
  border: none;
  border-radius: 20px 0 0 20px; /* Round only the left corners */
}

.search-bar button {
  width: 10%; /* Adjust width accordingly */
  /* padding: 10px 20px; */
  border: none;
  background-color: #fed702; /* Example background color */
  color: white;
  border-radius: 0 20px 20px 0; /* Round only the right corners */
  cursor: pointer;
}

.search-bar-mobile {
  display: none;
}

/* For small devices (e.g., phones) */
@media only screen and (max-width: 600px) {
  .prod-page {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  .col-md-6 {
    width: 100%; /* Make columns full width on small screens */
  }
  .sel-inp {
    margin-bottom: 20px; /* Add spacing between input sections */
  }
  .radio-img-option {
    margin-right: 10px; /* Adjust spacing between motor options */
  }
  .motor-container,
  .interrupteur-container {
    flex-direction: column; /* Change direction to column for mobile devices */
    align-items: center; /* Center items horizontally */
  }
  .radio-img-option {
    margin-bottom: 10px;
  }
  .main-head {
    margin-top: 15px;
  }
  .search-bar {
    display: none;
  }
}

/* For medium devices (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .sel-inp {
    margin-bottom: 30px; /* Increase spacing between input sections */
  }
  .radio-img-option {
    margin-right: 15px; /* Adjust spacing between motor options */
  }
}

/* For large devices (e.g., desktops) */
@media only screen and (min-width: 993px) {
  .container {
    max-width: 1200px; /* Limit container width for better readability */
    margin: 0 auto; /* Center the container */
  }
}
