/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap");

body {
  /* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.right {
  padding: 0px;
}

.container {
  max-width: 950px !important;
}

.prod-page {
  padding: 30px 0px;
}

.prod-img {
  width: 100%;
  max-height: 100%;
  margin-left: 0px;
  padding-left: 0px;
}

.dim-cont {
  text-align: center;
  margin: 0px;
}

.main-head {
  color: #333e48;
  font-family: "Inter";
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900 !important;
}

.sub-heading {
  font-size: 30px !important;
  font-weight: 200 !important;
}

.sub-head {
  font-size: 20px !important;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #333e48;
  font-weight: 900 !important;
  font-family: "Inter";
}

.labels {
  line-height: 20px;
  margin-bottom: 15px;
  margin-top: 25px;
  font-size: 12px;
}

.dimension-back-1 {
  background-color: #fed602;
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
  label,
  span,
  p {
    color: #333333 !important;
    font-weight: bold !important;
  }
}

.dimension-back-2 {
  background-color: #333333;
  border-radius: 0px 20px 20px 00px;
  padding-right: 10px;
  label,
  span,
  p {
    color: #ffffff !important;
  }
}

.dimension-inp-left {
  border: 3px solid #333333;
  background-color: #fed602;
  font-weight: bold;
}

.dimension-inp-right {
  border: 3px solid #ffffff;
  background-color: #333333;
  font-weight: bold;
  color: #ffffff;
}

.sel-inp p {
  margin-top: 15px;
  line-height: 18px;
  font-size: 10px;
  color: #333e48;
  font-weight: 400;
  font-family: "Inter";
}

hr.custom {
  height: 3px;
  background-color: black;
  margin: 20px 0px;
}

.labels-head {
  color: #333e48;
  font-weight: bolder;
  font-family: "Inter";
  font-size: 18px !important;
}

.field__input {
  width: 95%;
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
  padding: 6px 10px;
  font-size: 15px;
  margin-bottom: 30px;
}

.colors {
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
}

.radio_opt {
  width: 90px;
  height: 90px;
  position: relative;
  cursor: pointer;
  display: none;
}

.color-wrapper {
  flex: 0 0 20%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.color {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #5b5555;
  border: 6px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition: height 0.3s ease, border-color 0.3s ease;
}

.color-label {
  margin-top: 10px;
  color: #333e48;
  font-weight: 900;
  font-family: "Inter";
  font-size: 9px;
}

.interrupteurs {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
}

/* When the radio button is checked, increase the height of the circle */
.radio_opt:checked + .color {
  border-color: #fed702; /* Optional: Change border color for better visibility */
}

.radio-img-label {
  display: block;
  margin-bottom: 10px;
}

.motor-container {
  display: flex;
  justify-content: center;
}

.interrupteur-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.radio-img-option {
  display: inline-block; /* Change to inline-block */
  margin-right: 20px;
}

.radio-img-radio {
  display: none; /* Hide the actual radio button */
}

.radio-img-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid #ccc;
  border-radius: 12px;
  max-width: 200px;
  background-color: #fed602;
  max-height: 83px;
  margin-left: 10px;
}

.radio-img-image {
  width: 95px;
  height: 80px;
  border-radius: 12px 0px 0px 12px;
  margin-right: 10px;
}

.radio-img-text {
  font-size: 10px;
  color: #333e48;
  font-weight: bolder;
  text-align: center;
}

/* Add a class to style the highlighted motor square */
.motor-selected {
  border-color: #fed702; /* Change the border color when selected */
}
.interrupteur-selected {
  border-color: #fed702; /* Change the border color when selected */
}

/* Style the radio button when checked */
.radio-img-radio:checked + .radio-img-square {
  border-color: #fed702; /* Change the border color when checked */
}

.cables {
  margin-top: 20px;
}

.sub-head {
  font-size: 24px;
  margin-bottom: 10px;
}

.cables-container {
  display: flex;
  flex-wrap: wrap;
}

.cable-wrapper {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

/* Ensure only three cable options per row */
.cable-wrapper:nth-child(3n) {
  margin-right: 0;
  text-align: center;
}

.radio_opt {
  display: none; /* Hide the actual radio button */
}

.cable {
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
  cursor: pointer;
}

.cable img {
  max-width: 100%; /* Ensure the image does not exceed its container */
  max-height: 100%; /* Ensure the image does not exceed its container */
  border: 3px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

.cable-label {
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}

/* Style the cable image when checked */
.radio_opt:checked + .cable img {
  border-color: #fed702; /* Change border color when selected */
}

/* Style the cable wrapper when checked */
.radio_opt:checked + .cable-wrapper {
  background-color: #f8f9fa; /* Change background color when selected */
}

.total {
  width: 100%;
  background-color: #e6e6e6;
  padding: 30px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .tot-text {
    color: #333e48;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
  }
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.cart-btn {
  font-size: 22px;
  color: #333e48;
  font-weight: bolder;
  font-family: "Inter";
  padding: 0px 20px;
  border-radius: 20px;
  background-color: #fed702;
  border: 1px solid#fed702;

  &:hover {
    border: 2px solid#000000;
  }
}

.header-main {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  height: auto;
}

.search-bar input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #fed702 !important;
  color: #fff;
  cursor: pointer;
}

.cart-icon img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.cart-icon i {
  color: #000;
}

.cart-icon span {
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
}

.logo-text {
  font-size: 30px;
  color: #323f48;
  font-weight: 700;
}

.logo-text span {
  color: #fed702;
  font-weight: 300;
}

.cart-icon {
  position: relative;
}

.cart-icon span {
  position: absolute;
  bottom: -8px; /* Adjust vertical position */
  right: -8px; /* Adjust horizontal position */
  background-color: #fed702; /* Background color for the count */
  color: #000000; /* Text color for the count */
  border-radius: 50%; /* Make it circular */
  padding: 4px 8px; /* Add some padding */
  font-size: 12px; /* Adjust font size */
}

.search-bar {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
  border: 1px solid #fed702;
  margin: 0px 10px;
}

.search-bar input[type="text"] {
  outline: none;
  width: 600px; /* Set a fixed width */
  /* padding: 10px; */
  border: none;
  border-radius: 20px 0 0 20px; /* Round only the left corners */
}

.search-bar button {
  width: 10%; /* Adjust width accordingly */
  /* padding: 10px 20px; */
  border: none;
  background-color: #fed702; /* Example background color */
  color: white;
  border-radius: 0 20px 20px 0; /* Round only the right corners */
  cursor: pointer;
}

.search-bar-mobile {
  display: none;
}

/* For small devices (e.g., phones) */
@media only screen and (max-width: 600px) {
  .prod-page {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  .col-md-6 {
    width: 100%; /* Make columns full width on small screens */
  }
  .sel-inp {
    margin-bottom: 20px; /* Add spacing between input sections */
  }
  .radio-img-option {
    margin-right: 10px; /* Adjust spacing between motor options */
  }
  .motor-container,
  .interrupteur-container {
    flex-direction: column; /* Change direction to column for mobile devices */
    align-items: center; /* Center items horizontally */
  }
  .radio-img-option {
    margin-bottom: 10px;
  }
  .main-head {
    margin-top: 15px;
  }
  .search-bar {
    display: none;
  }
}

/* For medium devices (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .sel-inp {
    margin-bottom: 30px; /* Increase spacing between input sections */
  }
  .radio-img-option {
    margin-right: 15px; /* Adjust spacing between motor options */
  }
}

/* For large devices (e.g., desktops) */
@media only screen and (min-width: 993px) {
  .container {
    max-width: 1200px; /* Limit container width for better readability */
    margin: 0 auto; /* Center the container */
  }
}

/* Checkout */

/* Ensure the overall container allows scrolling */
.checkout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  background: #f5f5f5;
}

.payment-section {
  padding: 35px;
  background: white;
}

.cart-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 15px;
  height: 100vh;
  overflow-y: auto;
}

.payment-container {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.payment-option {
  border: 1px solid #e0e0e0;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.payment-option input {
  cursor: pointer;
}

.card-cont.selected {
  background-color: #e9f5ff;
  border-color: #007bff;
  border-radius: 10px;
}

.card-option {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.klarna-option {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.payment-option input[type="radio"] {
  margin-right: 10px;
}

.payment-label {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
}
.card-imgs img {
  margin-left: 5px;
}

.payment-logo {
  height: 24px;
  width: auto;
}

.payment-details {
  width: 100%;
  background: #f4f4f4;
  padding: 15px;

  input {
    font-weight: bolder;
  }

  p {
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    img {
      max-width: 150px;
      max-height: 90px;
    }
  }
}

.col-md-12.gr-lock,
.col-md-6.question-mark {
  position: relative;
  margin-bottom: 15px;
}

.col-md-12.gr-lock .icon,
.col-md-6.question-mark .icon {
  position: absolute;
  top: 60%;
  right: 25px;
  transform: translateY(-50%);
  color: #666;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0070ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005f99;
}

.pay-button {
  width: 100%;
  padding: 15px;
  background-color: #0070ba;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bolder;
}

.pay-button:hover {
  background-color: #005f99;
}

/* Cart Section */
.right-sec {
  position: relative;
  background: #f5f5f5;
  padding: 35px;
}

.cart-container {
  margin: 0 auto;
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.item-image img {
  background: #ededed;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 70px;
}

.item-details {
  flex-grow: 1;
  padding: 0 10px;
  margin-top: 20px;

  h3 {
    font-size: 14px;
    font-weight: bolder;
  }
  p {
    font-size: 12px;
    color: #666666;
  }
}

.item-price {
  font-weight: bold;
}

.discount-code {
  display: flex;
  margin-bottom: 20px;
}

.discount-code input {
  flex-grow: 1;
  padding: 15px;
  margin-right: 10px;
  font-size: 13px;
  font-weight: bolder;
  border: 2px solid #ccc;
}

.discount-code input:focus {
  border: 2px solid #1773b0;
  outline: #1773b0;
}

.discount-code button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  font-weight: bolder;
  font-size: 14px;
  color: #666666;
  border-radius: 5px;
}

.cart-summary {
  padding-top: 10px;
  font-size: 14px;
  font-weight: bolder;
}

.cart-summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-total {
  font-weight: bolder;
  font-size: 21px;
  .cart-curr {
    font-size: 12px;
  }
}

/* Popup */
.info-icon {
  cursor: pointer;
  color: #666666;
  margin-left: 5px;
  font-size: 16px;
}

.info-icon-phone {
  position: absolute;
  cursor: pointer;
  color: #666666;
  margin-left: 5px;
  font-size: 16px;
  right: 20px;
  top: 28px;
}

.background-dim {
  background-color: #666666;
}

.shipping-policy-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: popup 0.3s;
  margin: 0 auto;
  width: 50%;
  overflow-y: auto;
  max-height: 350px;
  border-radius: 20px;

  h3 {
    margin-top: 0;
    font-weight: bolder;
    font-size: 21px;
  }
  p {
    line-height: 20px;
    font-size: 14px;
  }
}

.popup-head {
  display: block !important;
}

.popup-content button {
  border: none;
  background: white;
  font-size: 20px;
}

/* Left Side */
.checkout-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #dcdcdc;
  margin: 0 10px;
}

.divider-text {
  font-size: 14px;
  color: #666;
}

.section-title {
  text-align: center;
  font-size: 14px;
  color: #707070;
}

.checkout-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkout-button {
  padding: 8px 60px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-pay-btn {
  background: #592ff4;
  transition: background 0.3s ease;
}

.shop-pay-btn:hover {
  background: #390ced;
}

.paypal-btn {
  background: #ffc439;
  transition: background 0.3s ease;
}

.paypal-btn:hover {
  background: #ffd366;
}

.google-btn {
  background: #000000;
  transition: background 0.3s ease;
}

.google-btn:hover {
  background: #3c4043;
}

.google-btn-text {
  color: white;
  font-size: 22px;
  font-weight: bolder;
  margin-left: 5px;
}

.checkout-button img {
  width: 85px;
}

.google-btn img {
  width: 20px;
}

.section-head {
  font-size: 21px;
  color: #000000;
  font-weight: bolder;
  margin-top: 30px;
}

.inp-outline {
  margin-top: 15px;
  font-size: 14px;
  border: 2px solid #ccc !important;
  /* height: 50px; */
  border-radius: 10px;
}

.inp-outline:focus {
  border: 2px solid #1773b0 !important;
  outline: #1773b0;
}

.css-13cymwt-control {
  border-style: hidden !important;
  border-width: 0px !important;
  box-sizing: none !important;
  box-shadow: none !important;
  border-color: none !important;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}

.inp-symbol {
  position: relative;
}

.checkbox-container {
  margin-top: 10px;
}

.checkbox-container span {
  font-size: 14px;
  color: #000000;
  /* font-weight: 500; */
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 10px;
}

/* Responsive Styles */
@media (max-width: 998px) {
  .checkout-button-container {
    flex-direction: row;
    gap: 10px;
  }

  .checkout-button {
    width: 100%;
  }

  .checkout-button:not(:first-child) {
    width: 48%;
  }

  .checkout-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Shipping Options */
.shipping-options {
  max-width: 600px;
  margin-top: 30px;
}

.shipping-options h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bolder;
}

.shipping-options p {
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;
  font-weight: bolder;
}

.shipping-note {
  background: #f5f5f5;
  padding: 20px 10px;
  border-radius: 10px;
}

.option {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 18px 15px;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #f9f9f9;
}

.option input {
  margin-right: 15px;
}

.option-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  align-items: center;
  font-weight: bolder;
}

.option.selected {
  background-color: #f0f5ff !important;
}

input[type="radio"] {
  accent-color: #007bff; /* For modern browsers */
}

.payment-container input[type="radio"]:checked + label {
  background-color: #e9f5ff;
  border-color: #007bff;
}

input[type="radio"]:checked + label .option-label {
  color: #007bff;
}

.payment-description {
  font-size: 14px;
  counter-reset: #707070;
  margin-bottom: 10px;
}

/* Remember Me */
.remember-me-container {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.remember-checkbox-container {
  display: flex;
  align-items: center;
  padding: 12px;

  label {
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
  }
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.additional-content {
  border-top: 1px solid #ddd;
  padding: 15px;
  background-color: #f4f4f4;
}

.phone-input {
  margin-bottom: 15px;
}

.phone-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.phone-input input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.info-text {
  font-size: 14px;
  margin-bottom: 15px;
  color: #707070;
}

.terms-text {
  font-size: 12px;
  color: #707070;
}

.terms-text a {
  color: #007bff;
  text-decoration: none;
}

.terms-text a:hover {
  text-decoration: underline;
}

.mobile-inp {
  position: relative;
  margin-bottom: 15px;
}

.mobile-inp .icon {
  position: absolute;
  top: 60%;
  left: 10px;
  transform: translateY(-50%);
  color: #666;
}

.mobile-inp input[type="text"] {
  width: 100%;
  padding: 12px 12px 12px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Media Queries */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .popup-content {
    width: 80% !important;
  }
}

@media only screen and (max-width: 767px) {
  .right-sec {
    position: relative !important;
  }
  .right {
    padding: 10px;
  }
  .main-head {
    font-size: 27px;
  }
}

/* Empty Cart */
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-detail {
  i {
    margin-left: 20px;
    margin-top: -5px;
  }

  i:hover {
    color: red;
    cursor: pointer;
  }
}

.cart-action {
  display: flex;
}
